body {
    background-color: #0b340c;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto auto;
    background-color: #035706;
    padding: 10px;
}


.topleft {
    grid-column: 1;
    grid-row: 1 ;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 5px;
    background-color: rgb(238, 205, 152);
}

.topright {
    grid-column: 3;
    grid-row: 1 ;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 5px;
    background-color: rgb(238, 205, 152);
}

.centerrow {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: rgb(238, 205, 152);
}

.bottomrow {
    filter: blur(0px) ! important;
    padding-top: 10px;
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
    z-index:0;
    text-align: center;
    background-color: #035706;
}

.next_button {
    background-color: rgb(238, 205, 152);
    color: black;
    border-radius: 3px;
    border-color: #ac322a;
}

.next_button:disabled {
    background-color: #ac322a;
    color: white;
    border-radius: 3px;
    border-color: #ac322a;
}


.button_play {
    background-color: rgb(238, 205, 152);
    color: black;
    border-radius: 3px;
    border-color: #ac322a;
    width: 39%;
}

.button_play:disabled {
    background-color: #ac322a;
    color: white;
    border-radius: 3px;
    border-color: #ac322a;
}

.add_button_b {
    width: 18%;
    height: 60px;
    border-radius: 7px;
    padding: 7px;
    color: aliceblue;
    border-color: rgb(238, 205, 152);
    background-color: rgb(216, 27, 27);
}

.add_button_b:hover {
    background-color: rgb(139, 31, 31);
}

.add_button_a {
    width: 18%;
    height: 60px;
    border-radius: 7px;
    padding: 7px;
    color: aliceblue;
    border-color: rgb(238, 205, 152);
    background-color: rgb(43, 27, 216);
}

.add_button_a:hover {
    background-color: rgb(43, 36, 126);
}

.point_button {
    border-radius: 7px;
    background-color:rgb(238, 205, 152);
    color: rgb(25, 29, 32);
    width: 24.2%;
}

.point_button:disabled {
    background-color: rgb(103, 98, 44);
    color: aliceblue;
}


.button_deck {
    padding: 8px;
    min-width: 7%;
    min-height: 40px;
}
